{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <form action="{{ url_for('upload') }}" method="POST" enctype="multipart/form-data">
          <div class="form-group">
            <label for="images">Inserir arquivo</label>
            <input type="file" id="images" name="images" accept="image/*" multiple>
            <p class="help-block">Selecione Imagens para Upload.</p>
            <input type="submit" value="Upload" class="btn btn-success">
          </div>
        </form>
    </div>
</div>
{% endblock %}
